@import 'menu';

.clear{
  clear: both;
}
body{
  min-width: 300px;
}
.bd{
  border: 1px dotted blue;
}
.btn-right{
  float: right;
}
.recipe-image{
  position: relative;
  text-align: center;

  img{
    max-width: 100%;
    max-height: 230px;
  }
}
.recipe-image.single img{
  max-height: 300px;
}
.recipe-col{
  height: 260px;
  border-bottom: 1px solid #ddd !important;
  margin: 20px 0;
}

h4.border-bottom{
  border-bottom: 2px solid #ddd;
}

/*********************************************/
/** nav **/
.login-btn-margin{
  margin: 10px;
}
.nav-user{
  border-bottom: 2px solid #ddd !important;
}
.nav{
  a{
    font-weight: bold;
  }

  .active a{
    background: #eee;
  }
}
.nav-top-menu{
  border-bottom: 2px solid #ddd !important;
}
.nav-tabs.nav-justified>li>a{
  border-bottom: 0px !important;
}

/*********************************************/
/** filters **/
.filters-container{
  overflow: hidden;
  max-height: 0px;
}
.filters-container.active{
  max-height: 1000px;
  border-bottom: 1px solid #ddd !important;
}
label.filter-checkbox{
  padding: 10px;
  font-weight: normal;
}
.filter-button-right{
  float: right;
  margin: 10px;
}

/*********************************************/
/** my ingredients **/
.ingredient-image{
  width: 60px;
  height: 60px;
}