{% extends '::layout.html.twig' %}

{% block body %}
    <article class="is-post is-post-excerpt">
        <header>
            <h2><a href="#">Sveiki atvykę į nealkoholinių kokteilių svetainę</a></h2>
        </header>
        <a href="#" class="image image-full"><img src="{{ asset('images/intro-foto.jpg') }}" alt="" /></a>
        <p>
            Šioje svetainėje galite išsirinkti kokteilius pagal skonį, tipą, išsirinkti mėgstamą kokteilį pagal ingredientus arba išsirinkti kokteilį pagal savo šaldytuve turimus ingredientus.
        </p>
        <p>
            <strong>Skanaus! </strong>
        </p>
    </article>
{% endblock %}
