
{% block menu %}

    <nav id="nav" class="no-top-margin">
        <ul>
            <li class="{% if app.request.attributes.get('_route')=='cocktails_recipes_table' %}current_page_item{% endif %}"><a href="{{ path('cocktails_recipes_table') }}">Kokteiliai</a></li>
            <li class="{% if app.request.attributes.get('_route')=='cocktails_recipes_about' %}current_page_item{% endif %}"><a href="{{ path('cocktails_recipes_about') }}">Apie svetainė</a></li>
            {% if is_granted("ROLE_USER") %}
                <li class="{% if app.request.attributes.get('_route')=='cocktails_my_products' %}current_page_item{% endif %}"><a href="{{ path('cocktails_my_products') }}">Mano produktai</a></li>
                <li class="{% if app.request.attributes.get('_route')=='cocktails_my_recipes' %}current_page_item{% endif %}"><a href="{{ path('cocktails_my_recipes') }}">Mano kokteiliai</a></li>
            {% endif %}
        </ul>
    </nav>

    {% if app.request.attributes.get('_route')=='cocktails_recipes_table' or app.request.attributes.get('_route')=='cocktails_recipes_homepage' %}
    <section class="is-recent-posts">
        <header>
            <h2>Išsirink kokteilį</h2>
        </header>
        <ul id="filter-menu">
            <li>Pagal <a href="#" data-link-type="filter-type"> tipą</a></li>
            <li>Pagal <a href="#" data-link-type="filter-taste"> skonį</a></li>
            <li>Pagal <a href="#" data-link-type="filter-ingredients"> ingredientus</a></li>
            {% if is_granted("ROLE_USER") %}
                <li>Pagal <a href="#" data-link-type="filter-ingredients"> mano produktus</a></li>
            {% endif %}
        </ul>
    </section>
    {% endif %}

    <div id="copyright">
        <p>
            &copy; 2014 <a href="http://www.nfq.lt/apie-akademija/">nfq-akademija</a>
        </p>
    </div>

{% endblock menu %}
