{#<link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />#}

{% block menu %}

        <div class="container">
            <div class="row">
                <ul class="nav nav-bar nav-justified nav-top-menu">
                    <li class="{% if app.request.attributes.get('_route')=='cocktails_recipes_table' %}active{% endif %}"><a href="{{ path('cocktails_recipes_table') }}">Receptai</a></li>
                    <li><a href="#">Mano kokteiliai</a></li>
                    <li><a href="#">Mano produktai</a></li>
                </ul>
            </div>
            <div class="row">
                <ul class="nav nav-tabs nav-justified nav-top-menu">
                    <li><a href="{{ path('cocktails_recipes_taste') }}">Pagal skonį</a></li>
                    <li><a href="#">Pagal mano produktus</a></li>
                    <li><a href="{{ path('cocktails_recipes_type') }}">Pagal tipą</a></li>
                </ul>
            </div>
        </div>

{% endblock menu %}
