<link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />

{% block menu %}
    <ul class="navbar">
        <li><a href="{{ path('cocktails_recipes_table') }}">Receptai</a></li>
        <li><a href="#">Mano kokteiliai</a></li>
        <li><a href="#">Mano produktai</a></li>
    </ul>
    <ul class="navbar">
        <li><a href="#">Pagal mano produktus</a></li>
        <li><a href="{{ path('cocktails_recipes_taste') }}">Pagal skonį</a></li>
        <li><a href="{{ path('cocktails_recipes_type') }}">Pagal tipą</a></li>
    </ul>
{% endblock menu %}