{% block menu %}
    <table>
        <tr>
            <td><a href="/app_dev.php/table">Receptai</a></td>
            <td><a href="#">Mano kokteiliai</a></td>
            <td><a href="#">Mano produktai</a></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><a href="#">Pagal mano produktus</a></td>
            <td><a href="/app_dev.php/tasteSort">Pagal skoni</a></td>
            <td><a href="#">Pagal tipa</a></td>
            <td><a href="#">Pagal ingredienta</a></td>
        </tr>
    </table>
{% endblock menu %}