{% include '::layout.html.twig' %}

{#<link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />#}

{% block productTable %}
    <div class="container">
        <div class="row">
            <div>{% include 'CocktailsRecipesBundle:List:productTable.html.twig' %}</div>
            <div>{% include 'CocktailsRecipesBundle:List:UseringredientTable.html.twig' %}</div>
        </div>
    </div>


{% endblock %}