{% include '::layout.html.twig' %}

<link href="{{ asset('/css/table.css') }}" rel="stylesheet" type="text/css" />

{% block recipesWindow %}
    <div class="recipesTable">
        {% include 'CocktailsRecipesBundle:List:recipeTable.html.twig' %}
    </div>
{% endblock %}