{% include '::layout.html.twig' %}

{% block tasteTable %}
    <table>
        <td>{% include 'CocktailsRecipesBundle:List:tasteTable.html.twig' %}</td>
        <td>{% include 'CocktailsRecipesBundle:List:recipeTable.html.twig' %}</td>
    </table>
{% endblock %}