<link href="{{ asset('/css/style.css') }}" rel="stylesheet" type="text/css" />


{% block user %}
    {% if app.user %}
        <div class="logged">
            <a> Labas {{ app.user.username }}</a>
            <p><a href="{{ path('fos_user_security_logout') }}">Atsijungti</a></p>
        </div>
    {% else %}
        <div class="login">
            <a href="{{ path('fos_user_security_login') }}">Prisijungti</a>
        </div>
    {% endif %}

{% endblock %}