{% block user %}

    <nav id="nav" class="no-top-margin">
        <ul>
            {% if app.user %}
                <li class="current_page_item"><a href="{{ path('fos_user_security_logout') }}">Atsijungti: {{ app.user.username }}</a></li>
            {% else %}
                <li class="current_page_item"><a href="{{ path('fos_user_security_login') }}">Prisijungti</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
