/*NAVBAR*/
.navbar
{
    border: 1px solid #000000;
    margin: auto;
    text-align: center;
    background-color: ghostwhite;
}
.navbar > li{
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
}
.navbar > li:hover{
    background-color: cornflowerblue;
}
.navbar > li > a
{
    text-decoration: none;
    color: #000000;
}
/*TASTE, TYPE VIEW*/
.tasteTable,
.typeTable
{
    border: 1px solid #000000;
    width: 200px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
}
.tasteTable >ul,
.typeTable >ul
{
    list-style-type: none;
    display: inline;
    text-transform: uppercase;
}
.tasteWindow > ul > li,
.typeWindow > ul > li{
     display: inline-block;
     float: left;
 }
.tasteTable > ul > li:hover,
.typeTable > ul > li:hover
{
    background-color: cornflowerblue;

}

