
{% block table %}
    <div class="tasteTable">
        <ul>
            {% for taste in tastes %}
                <li class="element" onclick="return confirm('make action')">
                    <p class="title">{{ taste.name }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
