
{% block table %}
    <form method="get" action="">
    <div class="tasteTable">
            {% for taste in tastes %}
                    <input type="checkbox" name="filt[{{ taste.name }}]" value="2" >
                    <p class="title">{{ taste.name }}</p>

            {% endfor %}
        <input type="submit" value="Filtruoti">
    </div>
    </form>
{% endblock %}
