{% block table %}
    <table class="main_table">

        {% for taste in tastes %}

            <tr class="element" onclick="return confirm('make action')">
                <td class="description">
                    <p class="title">{{ taste.name }}</p>
                    <p>--Aprasymas--</p>
                    <button type="button">Pasirinkti</button>
                </td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}