<link href="{{ asset('/css/table.css') }}" rel="stylesheet" type="text/css" />
{% block table %}
    <div class="typeTable">
        <ul>
            {% for type in types %}
                <li class="element" onclick="return confirm('make action')">
                    <p class="title">{{ type.name }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}